<button type="button" (click)="setHabilitar()" class="btn btn-primary my-3">{{ habilitar==true?'ocultar':'mostrar' }}</button>
<div class="card">
  <div class="card-header">
    Listado de cursos
  </div>
  <ul class="list-group" *ngIf="habilitar">
    <li *ngFor="let curso of listaCurso" class="list-group-item">{{curso}}</li>
  </ul>
</div>
