<div class="card border-primary mb-3 mt-3">
  <div class="card-header">Clientes</div>
  <div class="card-body">
    <h5 class="card-title text-primary">Listado de clientes</h5>
    <div class="my-2 text-left">
      <button type="button" class="btn btn-rounded btn-primary" [routerLink]="['/clientes/form']">Crear Cliente</button>
    </div>
    <table class="table table-bordered table-stripped text-primary">
      <thead>
        <tr>
          <th>id</th>
          <th>nombre</th>
          <th>apellido</th>
          <th>email</th>
          <th>fecha</th>
          <th>editar</th>
          <th>eliminar</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{cliente.id}}</td>
        <td>{{cliente.nombre}}</td>
        <td>{{cliente.apellido}}</td>
        <td>{{cliente.email}}</td>
        <td>{{cliente.createAt}}</td>
        <td><button type="button" class="btn btn-primary" name="editar" [routerLink]="['/clientes/form', cliente.id]">Editar</button></td>
        <td><button type="button" class="btn btn-danger" name="eliminar"  (click)="delete(cliente)">Eliminar</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
